/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Merriweather, sans-serif;
    width: 100vw;
    min-height: 100vh;
    letter-spacing: 2px;
    display: flex;
    flex-direction:column;
}

h1 {
    font-size: 200%;
    text-align: center;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
    color: black;
    background-color: beige;
    /* fix header at the top */
    position: fixed;
}

/* remove dots from list element */
#menu {
    list-style-type: none;
}

/* remove underlining from link default */
header a {
    text-decoration: none;
    color: rgb(124, 116, 116);
    font-size: 80%;
}

/* indicate the current page in the navbar */
.active {
    text-decoration: underline;
    color: rgb(179, 172, 172);
}

/* Main content */
main {
    /*Add margin-top to prevent content from being covered by header */
    margin-top: 100px;
    color: rgb(56, 45, 45);
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
}

/* Image source: wikipedia */
#hero-image {
    background-image: url("../../assets/images/Hummelwilhelmshöhe1800.webp");
    height: 637px;
    position: relative;
}

/* Footer */

footer {
    background-color: beige;
}

footer > h3 {
    text-align: center;
}

#social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social {
    display: flex;
    list-style-type: none;
    font-size: 200%;
    /* How to change the color to black? */
    color: black; 
}




/* Johann Friedrich Hummel page */
#main-jfh {
    display: flex;
    flex-direction: column;
}

#jfh {
    text-align: center;
}

.jfhummel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px){
    #hero-image {
        background-repeat: no-repeat;
    }
        
    #menu a:hover {
            color: black;
        }
    
}