/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */
body {
    font-family: Merriweather, sans-serif;
    width: 100vw;
    min-height: 100vh;
    letter-spacing: 2px;
    display: flex;
    flex-direction:column;
}

h1 {
    font-size: 200%;
    text-align: center;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    color: black;
    background-color: beige;
    /* fix header at the top */
    position: fixed;
    z-index: 99;
}

/* remove dots from list element */
#menu {
    list-style-type: none;
}

/* remove underlining from link default */
header a {
    text-decoration: none;
    color: rgb(124, 116, 116);
    font-size: 80%;
}

/* indicate the current page in the navbar */
.active {
    text-decoration: underline;
    color: rgb(179, 172, 172);
}


/* Main content */
main {
    /*Add margin-top to prevent content from being covered by header */
    margin-top: 10vh;
    color: rgb(56, 45, 45);
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    height: auto;
}

.div-scrollable {
    background-color: #dfab53;
    margin: 0;
    padding: 20px 20px 100px;
    /* scrollbar changes (https: //www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
         background: #555;
    }
}


/* Footer */
footer {
    background-color: beige;
    height: 8vh;
    width: 100vw;
}

footer > h3 {
    text-align: center;
}

#social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social {
    display: flex;
    list-style-type: none;
    font-size: 200%;
}

.footer-scrollable {
    position: fixed;
    bottom: 0;
    left: 0;
}


/* Index */
/* Image source: wikipedia */
#hero-image {
    background-image: url("../../assets/images/Hummelwilhelmshöhe1800.webp");
    height: 82vh;
    position: relative;
    background-position: center;
    background-size: cover;
}

#index-h2 {
    position: absolute;
    top: 60px;
    left: 20px;
    text-align: center;
    color: rgb(88, 76, 76);
}

#summary {
    position: absolute;
    top: 150px;
    left: 10px;
    right: 10px;
    display: block;
}


/* biography */
#self-port {
    display: none;
}

#biography-jeh {
    background-image: url("../../assets/images/selfportrait.webp");
    height: 82vh;
    position: relative;
    background-position: center;
    background-size: cover;
}

#bio-h2 {
    position: absolute;
    top: 50px;
    color: white;
}

#life {
    position: absolute;
    top: 100px;
    left: 10px;
    color: white;
}

/* Anchor link color change */


/* Paintings */
/* CSS-only Carousel found on: https: //codepen.io/Schepp/pen/WNbQByE created by Christian Schaefer; unneccessary things were deleted */
@keyframes tonext {
    75% {
        left: 0;
    }

    95% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }

    95% {
        left: -300%;
    }

    98% {
        left: -300%;
    }

    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }

    97% {
        scroll-snap-align: none;
    }

    99% {
        scroll-snap-align: none;
    }

    100% {
        scroll-snap-align: center;
    }
}

.carousel__viewport > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}

.carousel__slide:nth-child(even) {
    background-color: #99f;
}

.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #fff;
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: -1rem;
}

.carousel::after,
.carousel__next {
    right: -1rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}


/* Exhibitions */
/* general content style */
#ex-div {
    position: absolute;
    /* readability improvement */
    line-height: 150%;
}

/* position of divs */
.ex {
    position: relative;
}

/* Heading Stylings */
.ex-h2 {
    color: rgb(78, 76, 76);
    text-align: center;
}

.ex-h3, .ex-link{
    margin-top: 15px;
    color: rgb(124, 116, 116);
}

/* individual link decoration */
.ex-link {
    text-decoration: none;
}

/* gaps to div above */
#ex-short, #ex-pub {
    margin-top: 20px;
}

/* partly inspired from https: //www.w3schools.com/css/css_align.asp */
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 250px;
    border: 1px solid black;
}

/* publication section */
#ex-pub {
    margin-left: 10px;
}

/* div for text and link to form page */
#ex-help {
    margin-top: 30px;
    color: rgb(92, 5, 5);
    padding: 5px;
    border: 5px solid rgb(92, 5, 5);
}


/* Contactform */
/* Style for main section */
#form {
    background-color: #dfab53;
    margin: 0px;
    height: 82vh;
    position: relative;
}

legend {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 120%;
}

.form-box {
    margin: 12.5px 10px 0;
    border: 1.5px solid black;
    padding: 3px;
}

.form-box > p {
    font-weight: bold;
}

.con-p {
    font-size: 80%;
}


/* Buttons */
#buttons-div {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.buttons {
    font-size: 20px;
    padding: 3px;
    background-color: rgb(194, 173, 173);
}


/* Johann Friedrich Hummel page */
#main-jfh {
    display: flex;
    flex-direction: column;
}

#jfh {
    text-align: center;
}

.jfhummel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Image Gallery from https: //www.w3schools.com/css/css_image_gallery.asp */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


/* Larger devices (tablets, 768px and up) */
/* Index*/
@media screen and (min-width: 768px){
    #index-h2 {
        top: 45px;
        left: 150px;
        font-size: 200%;
    }
   
    #summary {
        top: 100px;
        left: 100px;
        right: 300px;
        font-size: 120%;
    }


    /* Exhibition */
    .ex-break {
        display: none;
    }

    /* Heading Stylings */
    .ex-h2 {
        font-size: 200%;
    }
    
    .ex-h3,
    .ex-link {
        margin-left: 10px;
    }
    
    /* gaps to div above */
    #ex-short,
    #ex-pub {
        margin-top: 30px;
    }

    /* Flex */
    .ex-flex {
        display: flex;
        flex-direction: row;
    }

    /* partly inspired from https: //www.w3schools.com/css/css_align.asp */
    iframe {
        width: 70%;
        height: 300px;
        border: 2px solid black;
    }
    
    .ex-p {
        max-width: 20%;
        padding-top: 80px;
    }

    /* publication section */
    #ex-pub {
        margin-left: 20px;
    }


    /* Contactform */
    legend {
        padding-top: 40px;
        font-size: 220%;
    }

    .form-box {
        margin: 30px 20px 0;
        border: 3px solid black;
        padding: 5px;
        font-size: 120%;
    }

    /* Buttons */
    #buttons-div {
        margin-top: 30px;
    }

    .buttons {
        font-size: 25px;
        padding: 5px;
    }
}


/* Large devices (laptops and desktops, 992px and up) */
/* Index*/
@media screen and (min-width: 992px){
    #index-h2 {
        top: 60px;
        left: 400px;
        font-size: 260%;
    }
   
    #summary {
        top: 130px;
        left: 100px;
        right: 600px;
        font-size: 160%;
        }        

    #hero-image, #biography-jeh {
        background-repeat: no-repeat;
        max-height: 100%;
    }
        
    #menu a:hover {
            color: black;
        }


    /* Biography */
    #biography-jeh {
        background-image: none;
    }


   /* Exhibition */
   /* Heading Stylings */
   .ex-h2 {
       font-size: 260%;
   }

   .ex-h3,
   .ex-link {
       margin: 30px 0 20px 30px;
       font-size: 130%;
   }

   /* partly inspired from https: //www.w3schools.com/css/css_align.asp */
   iframe {
       height: 400px;
       border: 3px solid black;
   }

   .ex-p {
       max-width: 20%;
       padding-top: 140px;
       padding-left: 100px;
   }

   /* publication section */
   #ex-pub, #shortex-p {
       margin-left: 80px;
   }


    /* Contactform */
    legend {
        font-size: 280%;
    }

    .form-box {
        margin: 20px 40px 0;
        font-size: 130%;
    }
    
    /* Buttons */
    #buttons-div {
        margin-top: 25px;
    }

    .buttons {
        font-size: 28px;
        padding: 8px;
    }
}
